.pic {
    background-image: url('../../../assets/Professors.jpg');
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form>* {
    width: 50%;
}

.buttons {
    flex-direction: row;
}

button {
    margin: 0 1% 0 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

mat-card {
    width: 400px;
    padding-top: 0%;
}

mat-card-header{
    width: 432px;
    background-color: rgb(63, 81, 181);
    margin-left: -4%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 50px;
}

mat-card-title{
    margin-top: 10%;
    color: white;
}

.error{
    font-size: small;
    color: red;
}

.stud-log{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}
