<mat-sidenav-container *ngIf="_auth.loggedIn" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Options</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngIf="_auth.isStudent && student">
        <mat-checkbox [checked]="student.notifikacije" (change)="notificationChange($event.checked)">Notificacije
        </mat-checkbox>
      </mat-list-item>
      <a mat-list-item routerLink="raspored" routerLinkActive="active" (click)="drawer.toggle()">Raspored</a>
      <a *ngIf="_auth.isProfesor" mat-list-item routerLink="student" routerLinkActive="active"
        (click)="drawer.toggle()">Studenti</a>
      <a *ngIf="_auth.isProfesor" mat-list-item routerLink="raspodela" routerLinkActive="active"
        (click)="drawer.toggle()">Raspodela</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink='/' routerLinkActive="active">
        <mat-icon aria-label="Logo">school</mat-icon>
        <span> Raspored</span>
      </a>

      <div class="logout-container">
        <a class="logout" (click)="_auth.logout()">
          <span>Logout</span>
        </a>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
