<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Redosled</mat-label>
        <input matInput [formControl]="redosledFormControl" [(ngModel)]="data.redosled" (change)="predlozi()">
        <mat-error
          *ngIf="redosledFormControl.hasError('pattern') && (redosledFormControl.dirty || redosledFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="redosledFormControl.hasError('required')">
          Redosled je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kapacitet</mat-label>
        <input matInput [formControl]="kapacitetFormControl" [(ngModel)]="data.kapacitet">
        <mat-error
          *ngIf="kapacitetFormControl.hasError('pattern') && (kapacitetFormControl.dirty || kapacitetFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="kapacitetFormControl.hasError('required')">
          Kapacitet je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Učionica</mat-label>
        <input matInput [formControl]="ucionicaFormControl" [(ngModel)]="data.ucionica">
        <mat-error *ngIf="ucionicaFormControl.hasError('required')">
          Učionica je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Broj studenata</mat-label>
        <input matInput [formControl]="brojStudenataFormControl" [(ngModel)]="data.brojStudenata">
        <mat-error
          *ngIf="brojStudenataFormControl.hasError('pattern') && (brojStudenataFormControl.dirty || brojStudenataFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="brojStudenataFormControl.hasError('required')">
          Broj studenata je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Slot</mat-label>
        <input matInput [formControl]="slotFormControl" [(ngModel)]="data.slot">
        <mat-error *ngIf="slotFormControl.hasError('pattern') && (slotFormControl.dirty || slotFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="slotFormControl.hasError('required')">
          Slot je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Trajanje (u min)</mat-label>
        <input matInput [formControl]="trajanjeFormControl" [(ngModel)]="data.trajanje">
        <mat-error
          *ngIf="trajanjeFormControl.hasError('pattern') && (trajanjeFormControl.dirty || trajanjeFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="trajanjeFormControl.hasError('required')">
          Trajanje je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Početni indeks</mat-label>
        <input matInput [formControl]="minIndexFormControl" [(ngModel)]="data.minindeks">
        <mat-error
          *ngIf="minIndexFormControl.hasError('pattern') && (minIndexFormControl.dirty || minIndexFormControl.touched)">
          Dozvoljene su samo brojčane vrednosti!
        </mat-error>
        <mat-error *ngIf="minIndexFormControl.hasError('required')">
          Indeks je <strong>obavezno</strong> polje!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly [ngxMatDatetimePicker]="pickerPocetak" placeholder="Početak" [(ngModel)]="data.pocetak"
          ngDefaultControl>
        <mat-datepicker-toggle matSuffix [for]="pickerPocetak"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerPocetak>
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly [ngxMatDatetimePicker]="pickerKraj" placeholder="Kraj" [(ngModel)]="data.kraj"
          ngDefaultControl>
        <mat-datepicker-toggle matSuffix [for]="pickerKraj"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerKraj>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="b-row">
    <button mat-raised-button (click)="onNoClick()">Odustani</button>
    <button mat-raised-button (click)="onSubmit()">Raspodeli</button>
  </div>
</div>
